- name: example-private-broker
  enabled: true
  host: broker.example.com
  port: 8883
  transport: tcp
  username: CHANGEME
  password: CHANGEME
  use_jwt_auth: false
  format: letsmesh
  tls:
    enabled: true
    insecure: false
